[Unit]
Description=SomeServer
After=netwok.target

[Service]
Type=notify
ExecStart=/usr/bin/serverTCPandUDP start

[Install]
WantedBy=multi-user.target
